:root {
  --company-color: #2196f3;
  --grey-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Menu&footer */
header {
}
.menu a {
  color: inherit;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.menu a:hover {
  color: var(--company-color);
}
.focus:focus {
  color: var(--company-color);
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-blue {
  color: var(--company-color);
}
.contact a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.contact a:hover {
  color: var(--company-color);
}
footer {
  background-color: #2f303a;
  color: #ffffff;
}
footer a {
  text-decoration: none;
  color: #ffffff99;
}
footer ul a:hover {
  color: var(--company-color);
}

footer .logo {
  color: #ffffff;
}
address {
}
/* agencja */
.main-header {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.order-button {
  background-color: var(--company-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.description h3 {
  font-weight: 700;
  line-height: 1.14;
}
.description p {
  color: var(--grey-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}
.team figure {
  background-color: #ffffff;
}
.team figcaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team p:last-child {
  color: var(--grey-color);
  font-weight: 400;
}
/* portfolio */
.portfolio button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  text-align: center;
  cursor: pointer;
}
.portfolio button:hover {
  background-color: var(--company-color);
  color: #ffffff;
  border-radius: 3px;
}
.p-list p:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.p-list p:last-child {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.87;
}
.p-list a {
  text-decoration: none;
  color: inherit;
}
